<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recipes</title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></style>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
  <style>
  body {
    font-family: 'Ubuntu', serif;
    background-color: rgb{{avg[3]}};

}

    .panel-primary{
    		border-color: rgb{{avg[1]}};

    }

  .panel-primary > .panel-heading {
		background-color: rgb{{avg[1]}};
		border-color: rgb{{avg[1]}};

  }

  kbd {

  	background-color: rgb{{avg[0]}}
  }

 .img-container { width: 100%; display: flex; }

img { width: 100%;  }

.img-wrapper
{
    flex: 1;
}
 

</style>
</head>
<body>

<div class="col-md-12">
  <div class="header" style="background-color: rgb{{avg[0]}}; color: rgb{{avg[3]}}; margin-bottom: 20px; padding: 20px 10px;">
  <h1>{{title}}   

    <a href="{{url_for('edit' , query=query) }}" style="margin-left: 15px;" class="btn btn-default btn-lg pull-right" role="button">Edit</a>
  <a href="/" class="btn btn-default btn-lg pull-right" role="button">Home</a>
</h1> 
</div>
</div>
<div class="col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Ingredients</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Ingredient</th>
          </tr>
        </thead>
        <tbody>
        {% for i in ingredients %}
          <tr>
            <td>{{i.amount}}</td>
            <td>{{i.what}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-9" style="font-size:150%">
	  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"></h3> Directions </h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <tbody>
        {% for step in steps %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{step}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
 </div>
 <div class="container">
 <div class="col-md-12 img-container">
{% for i in urls %}
<div class="img-wrapper"> <img src="{{i}}" /></div>
{% endfor%}
</div>
</div>
</body>
</html>
